<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body data-document-id="<%= id %>">
    <h1>Document Page</h1>

    <script>
        const doc_id = document.body.getAttribute('data-document-id');
        console.log(doc_id);
    </script>
  </body>
</html>
